<html>
  <head>
    <title>libosinfo: The Operating System information database</title>

    <link rel="stylesheet" href="static/index.css" type="text/css"/>
  </head>

  <body>
    <div id="header">
      <h1><a href="index.html">libosinfo</a>: The Operating System information database</h1>
    </div>
    <div id="main">
      <div id="content">
	{{ content }}
      </div>
    </div>
    <div id="panel">
      <div id="navigation">
	{% include "nav.html" %}
      </div>
    </div>
    <div id="footer">
      <p>
        Content, images &amp; design &copy; Daniel P. Berrang&eacute; 2009-2023,
        licensed under the <a href="http://gnu.org/">GNU GPL v3+</a>
      </p>
    </div>
  </body>
</html>
